# Listas

In [ ]:
# Vamos a crear una lista vacía

L = []

range(10)

In [2]:
L = [1, 2, 3, 4]
L

[1, 2, 3, 4]

In [3]:
L. append(5)
L

[1, 2, 3, 4, 5]

In [1]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

# Listas por comprensión

In [ ]:
type([])

In [4]:
len([2, 4, 6, 8])

4

In [5]:
Pares = [i for i in range(1,100)]
Pares

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

# Módulo NumPy

In [10]:
import numpy as np

In [9]:
np.random.randint(1,101, 5)

array([31, 77, 15, 76, 10])

In [11]:
import numpy as np

In [14]:
X= np.random.randint(1,10, 100)

In [15]:
[i for i in X if i%2==0]

[4,
 2,
 4,
 8,
 2,
 6,
 6,
 8,
 8,
 8,
 4,
 4,
 4,
 4,
 4,
 6,
 8,
 2,
 4,
 4,
 8,
 2,
 6,
 4,
 6,
 4,
 6,
 8,
 8,
 4,
 6,
 2,
 2,
 6,
 2,
 2,
 4,
 2,
 4,
 4,
 4,
 8,
 8,
 2,
 8,
 8,
 2]

Usando el código de hoy y después de entender la clase completa, hicimos el trabajo de la clase utilizanod np.random.randint para que nos diera 100 números enteros del 1 al 10 y de ese resultado que nos diera cuáles son pares.